body {
  width: 100vw; height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.dialogue-box {
  position: relative;
  width: 60%; height: 30%;
  min-width: 700px;
  border: 10px solid transparent;
  border-image: url(../img/border.png) 3.5% fill;
  padding: 15px;
}
.choice-box {
  display: none;
}
section {
  width: 10%;
}
.seta {
  display: none;
  animation: piscar ease-in-out 1s infinite alternate;
  position: absolute;
  top: 100%; left: 100%;
  transform: translate(-100%, -100%);
  height: 50px;
}

section {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  section {
    flex-direction: column-reverse;
  }
  .choice-box {
    width: 100%;
  }
}


.background {
  width: 100vw; height: 100vh;
  z-index: -1;
  position: absolute;
}

@keyframes piscar {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

